.form {
  padding: 2%;

  input {
    border-radius: 10px;
    height: 30px;
    border: 1px solid #eee;
    &:focus {
      border: 1px solid #aaa;
    }
  }
  & button {
    border-radius: 10px;
    height: 30px;
    border: 1px solid #eee;
    width: 80px;
    cursor: pointer;
  }
}
